/* Dashboard Layout Styles */
.dashboard-layout {
  min-height: 80vh;
  background: #f8fafc;
}

.dashboard-content {
  display: grid;
  height: auto;
  align-items: stretch;
  /* make columns equal height */
  grid-template-columns: 280px 1fr 320px;
  gap: 60px;
  padding: 12px 32px;
  max-width: 1300px;
  margin: 0 auto;
}

.sidebar {
  position: sticky;
  top: 24px;
  height: fit-content;
  background: #fff;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow);
}

.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}


.main-content {
  min-height: auto;
  align-self: stretch;
  display: flex;
}

.right-sidebar {
  position: sticky;
  top: 24px;
  align-self: stretch;
  height: 100%;
  display: flex;
}

@media (max-width: 1280px) {
  .dashboard-content {
    grid-template-columns: 260px 1fr;
  }

  .right-sidebar {
    display: none;
  }
}

@media (max-width: 968px) {
  .dashboard-content {
    grid-template-columns: 1fr;
  }

  aside.sidebar {
    display: none;
  }
}